* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
html{overflow-x: hidden;}
body{
	min-width: 320px;
	word-wrap: break-word;
	word-break: break-all;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	font-size: 100%;
	font-family: 'Open Sans', 'sans-serif', 'Arial';
}
article, aside, details, figcaption, figire, footer, header, hgroup, menu, nav, section {
	display: block;
}
img, video {
	vertical-align: top;
	width: 100%;
}
ul,li,ol,dl{
	list-style:none;
}
img{
	border:0;
	vertical-align:top;
}
a, a:hover, a:focus {
	display: block;
	text-decoration: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input, select {
	vertical-align:middle;
}
label {
	cursor:pointer;
	vertical-align: middle;
}
button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	background-color:
	transparent; border-radius: 0px;
}
select::-ms-expand {
	display: none;
}
textarea {
	resize: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
i, em, address {
	font-style: normal;
	font-weight: normal;
}
input, select, textarea, button {
	font: inherit;
	color: inherit;
	vertical-align: middle;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #f6f8f9 inset !important;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, table, th, td,  form, address, pre, caption, cite, ode, dfn, var {
	font-style: normal;
	text-decoration: none;
}

.cf:after{
	content:"";
	display:block;
	clear:both;
}
.fl{
	float:left;
}

.bdln{ border-left: none;}
.bdrn{ border-right: none;}
.bdtn{ border-top: none;}
.bdbn{ border-bottom: none;}
.bdn{ border: none;}












/* .cf{*zoom:1;} */