*{margin:0; padding:0; border:0;}
body{font-family: 'notokr-regular' , dotum, sans-serif;
	background: url(../images/bg_section2_v2.jpg) no-repeat;
	background-size: cover;
}
ul,li,ol{list-style:none;}
img{border:0; vertical-align:top;}
a{text-decoration: none;}
.cf:after{content:""; display:block; clear:both;}
.fl{float:left;}
/* .cf{*zoom:1;} */

/* ----------------------------------------------------------------------------------- */

/* 전체틀 */
#wrap{
	position: relative;
}
/* 메뉴헤더 */
#header{
	width: 100%;
	height: 110px;
	position: relative;
	float: left;
	top: 0;
	left: 0;
}
/* 메뉴헤더인 */
#header_in{
	position: fixed;
	width: 100%;
	height: 110px;
	margin: 0 auto;
	background: #5474c0;
	z-index: 98;
}
/* 서울 글로벌네비박스 */
#seoul_gnb{
	position: relative;
	width: 1739px;
	height: 31px;
	margin: 0 auto;
}
#seoul_gnb a{
	display: block;
}
/* 글로벌네비 박스 안 앞부분 박스 */
#seoul_link{
	position: fixed;
	width: 794px;
	height: 30px;
	margin: 0.5px 0px 0.5px 365px;
}
/* 서울링크 박스 안 이미지 위치값 */
#seoul_link>.seoul_ul>li{background: url(../images/seoulgnb.png) no-repeat;}

#seoul_link ul .seoul_icon{
	background-position: 0px -20px;
	width:78px;
	height:20px;
	margin: 3px 30px 0px 0px;
}
#seoul_link ul .seoul_icon>a{width:78px; height:20px;}

#seoul_link ul .seoul_notice{
	background-position: -17px -45px;
	width:17px;
	height:11px;
	margin: 9px 5px 0px 0px;
}
#seoul_link ul .seoul_notice>a{width:17px; height:11px;}

#seoul_link ul .seoul_text{
	background: none;
	font-size: 12px;
}
#seoul_link ul .seoul_text>a{
	width:600px;
	height:30px;
	color: #ffffff;
	line-height: 30px;
}

/* 글로벌네비 박스 안 뒷부분 박스 */
#seoul_quick{
	position: fixed;
	width: 286px;
	height: 30px;
	margin: 0.5px 0px 0.5px 1103px;
}
/* 서울퀵 박스 안 이미지 위치값 */
#seoul_quick>.q_icon>li{background: url(../images/seoulgnb.png) no-repeat;}
#seoul_quick ul>li{width:56px; height:30px; border-right: 1px solid #6582c6; box-shadow: 1px 0px 0.1px #4263af;}
#seoul_quick ul>li>a{width:56px; height:30px;}
/* 버튼 호버 문제 해결해야됨 */

#seoul_quick ul .qi{background-position: -9999px -9999px;}
#seoul_quick ul .qi1{background-position: -78px -30px;}
#seoul_quick ul .qi2{background-position: -132px -30px;}
#seoul_quick ul .qi3{background-position: -187px -30px;}
#seoul_quick ul .qi4{background-position: -242px -30px; text-indent: 9999px;}

/* 메뉴박스 */
#menu_top{
	width: 100%;
	height: auto;
	z-index:99;
	position: fixed;
	background: #ffffff;
}
/* 원뎁배경색 및 원뎁투텝 박스 */
#menu{
	width: 100%;
	height: 79px;
	position: relative;
	z-index: 10;
	background: #ffffff;
	background: rgba(255,255,255,1);
}
/* 원뎁투뎁 감싸고 로고 넣은 박스 중앙정렬 */
#menu_under{
	width: 1739px;
	height: 79px;
	margin: 0 auto;
}
/* 원뎁투뎁감싸고 위치조정 박스 */
#nav{
	margin-left: 235px;
}
/* 로고 */
#menu_under>a{
	position: absolute;
	margin-top: 19px;
	margin-left: 9px;
}
/* 원뎁스 */
#nav>.bg_menu>ul>li{
	width: 213.3px;
	text-align: center;
}
/* 원뎁스 사이선 */
#nav>.bg_menu>ul>.linem{
	background: url(../images/gnb_line01.gif) 212.3px 35px no-repeat;
}
/* 원뎁스 글자 */
#nav>.bg_menu>ul>li>a{
	display: block;
	font-size: 17px;
	height: 79px;
	line-height: 80px;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
	font-family: "Nanum Gothic";
	transition-duration: 0.2s;
}
/* 투뎁스 */
#nav>.bg_menu>ul>li>ul{
	padding: 10px 0px 0px 20px;
	text-align: left;
	width: auto;
	height: 500px;
}
/* 투뎁스글자 */
#nav>.bg_menu>ul>li>ul a{
	display: block;
	color: #444444;
	height: auto;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	font-family: "Nanum Gothic";
	transition-duration: 0.3s;
}
/* 원뎁투뎁 글씨 트랜지션 */
#nav>.bg_menu{
	position: relative;
	z-index: 9;
	overflow: hidden;
	height: 79px;
	transition-property: height;
	transition-duration: 0.3s;
}
/* 투뎁 호버 배경색 */
.bg{
	position: absolute;
	top: 79px;
	left: 0;
	width: 100%;
	height: 0px;
	background: #ffffff;
	z-index: 1;
	border-top: 1px solid #cccccc;
	transition-property: height;
	transition-duration: 0.3s;
}
/* 메뉴안에 퀵아이콘 */
#menu_quick{
	position:fixed;
	left: 91%;
	top: 4%;
	width:101px;
	height:61px;
	z-index: 11;
}
#menu_quick .mq{
	width:97px;
	height:57px;
	border: 1px solid #dcdcdc;
}
#menu_quick .mq .sitemapq{
	background: url(../images/btn_sitemap2.png) no-repeat 13px 8px;
	width:48px;
	height: 28px;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
}
#menu_quick .mq .memberq{
	background: url(../images/btn_certify.png) no-repeat 17px 5px;
	width:48px;
	height: 28px;
	border-bottom:1px solid #dcdcdc;
}
#menu_quick .mq .searchq{
	background: url(../images/sch_trigger03_1.png) no-repeat 15px 7px;
	width:48px;
	height: 28px;
	border-right:1px solid #dcdcdc;
}
#menu_quick .mq .globalq{
	background: url(../images/btn_lang.png) no-repeat 15px 7px;
	width:48px;
	height: 28px;
}
#menu_quick ul>li>a{
	display:block;
	width:48px;
	height: 28px;
}


/* ------------------------------------------------------------------------------------- */

/* 원뎁호버 A */
#nav>.bg_menu>ul>li:hover>a{color: #ffffff; background: #28388f;}
/* 투뎁호버 A */
#nav>.bg_menu>ul>li>ul>li>a:hover{text-decoration: underline; color: #000000;}
/* 투뎁배경색 */
#nav>.bg_menu>ul>li:hover>ul{background: #e1e1e1; 	transition-duration: 0.2s;}
/* 투뎁트랜지션 */
#nav:hover .bg_menu{height: 537px;}
/* 투뎁전체배경 */
#nav:hover .bg{height: 457px; box-shadow: 0px 5px 5px #777777;}

/* ------------------------------------------------------------------------ */

/* 메인 중앙박스 */
#container{
	position: relative;
	width: 1285px;
	height: 587px;
	margin: 0 auto;
	top: 190px;
}
/* 무엇을 도와드릴까요 글씨 */
.seoul_help{
	position: absolute;
	top:0;
	left:0;
	width: 1285px;
	height: 100px;
	background: url(../images/main_text02.png) no-repeat;
}
/* 무엇을 도와드릴까요 밑에 글씨 도움이 필요하시거나.... */
.seoul_help>span{
	display: block;
	color: #ffffff;
	font-size: 25px;
	margin-top: 65px;
	font-family: 'notokr-light';
}
/* 글씨밑에 5개박스 큰틀 */
.helpbox{
	position: absolute;
	width: 1285px;
	height: 454px;
	top: 133px;
}
/* 1번박스 고박스 */
.help_go{
	width: 261px;
	height: 311px;
	background: rgba(60,105,195,0.5);
}
/* 고박스 안에 틀 박스 */
.help_gobox{
	width: 231px;
	height: 297px;
	margin: 0 auto;
	margin-top: 5px;
}
/* 고이미지 및 글씨 */
.help_gobox h5{
	width: 231px;
	height: 25px;
	padding: 5px 0 6px 0;
	font-size: 17px;
	color: #ffffff;
}
/* 고이미지 위치조정 */
.help_gobox img{
	vertical-align: middle;
}
/* 고박스 안에 3개박스 */
.help_gobox>div{
	margin-top: 3px;
	width: 231px;
	height: 84px;
	background: #ffffff;
}
/* 3개박스 위에 a태그 */
.help_gobox a{
	position: relative;
	display: block;
	width: 231px;
	height: 84px;
}
/* 헬프박스 안에 아이콘 */
.help_gobox .help_write{background: url(../images/icon_con01_off.png) 22px center no-repeat;}
.help_gobox .help_faq{background: url(../images/icon_con20_off.png) 22px center no-repeat;}
.help_gobox .help_help{background: url(../images/icon_con03_off.png) 22px center no-repeat;}
/* 헬프박스 안에 아이콘 호버 */
.help_gobox .help_write:hover{background: url(../images/icon_con01.png) 22px center no-repeat;}
.help_gobox .help_faq:hover{background: url(../images/icon_con20.png) 22px center no-repeat;}
.help_gobox .help_help:hover{background: url(../images/icon_con03.png) 22px center no-repeat;}
/* 헬프박스 안에 글씨 */
.help_gobox .help_font{
	position: relative;
	top:0;
	left:0;
	display: table-cell;
	vertical-align: middle;
	width: 143px;
	height: 84px;
	padding: 0 0 0 85px;
	color: #6d6d6d;
	font-size: 13px;
	letter-spacing: -1px;
}
/* 헬프박스 안에 제목 */
.help_gobox h4{
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -1px;
}


/* 2번박스 페북트윗 */
.help_facetwit{
	width: 569px;
	height: 311px;
	background: rgba(255,255,255,0.5);
}
.help_facetwit .tabs{
	width: 509px;
	height: 37px;
	position: relative;
	margin: 0 auto;
}
.help_facetwit .tabs>li{
		width: 50%; height: 100%;
		background: #cccccc;
	float: left;
}
.help_facetwit .tabs>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.help_facetwit .tabs>li>a.on{
	background: #5474c0;
}
.panels{
	width: 509px;
	height: 242px;
	background: #ffffff;
	position: relative;
	margin: 0 auto;
}
.panel{
	position: absolute;
	top:0;
	left:0;
}
.panel>div{
	padding: 17.5px 20px 17.5px 70px;
	background: url(../images/facebook_icon.png) no-repeat 20px 22px;
	border-bottom: 1px solid #c9c9c9;
}
.panel2>div{
	background: url(../images/twitter_icon.png) no-repeat 20px 22px;
}
.panel>div>p{
	font-size: 13px;
	letter-spacing: -1px;
	color: #555555;
	padding-bottom: 5px;
}
.panel>div>p>strong{
	font-size: 14px;
	letter-spacing: -1px;
	font-family: 'notokr-medium', sans-serif;
}
.panel>div>p>span{
	font-size: 13px;
	color: #aaaaaa;
	font-weight: bold;
	padding: 0px 3px;
}

.panel>div>a{
	font-size: 14px;
	display: block;
	font-family: 'notokr-medium', sans-serif;
	color: #555555;
	text-align: justify;
}
.panel>div>a:hover{text-decoration:underline;}

.fcbg{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/logo_f.png) center center no-repeat;
}
.twbg{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/logo_t.png) center center no-repeat;
}
/* 
페이스북 트윗 위에 호버시 색
 .help_facetwit_block>ul>li>a.on{background: #3f5d95;}
 .help_ftbox_tw{background: #32ccfe;} */

/* 3번박스 원클릭 */
.help_oneclick{
	width: 455px;
	height: 311px;
	background: rgba(60,60,60,0.8);
}
/* 원클릭 이미지 */
.oneclick_image{
	width: 455px;
	height: 70px;
	background: url(../images/title02_v2_n.png) center center no-repeat;
}
/* 원클릭 아이콘 박스 */
.oneclick_icon{
	width: 455px;
	height: 241px;
}
/* 원클릭 아이콘 ul */
.oneclick_icon_ul{
	width: 411px;
	height: 200px;
	padding: 15px 22px 26px 22px;
}
/* 원클릭 아이콘 들어있는 li */
.oneclick_icon_ul li{
	width: 137px;
	height: 100px;
}
/* 원클릭 아이콘이미지 백그라운드 */
.oneclick_icon01{background: url(../images/bg_click01_v2.png) center 0px no-repeat;}
.oneclick_icon02{background: url(../images/bg_click02_v2.png) center 0px no-repeat;}
.oneclick_icon03{background: url(../images/bg_click03_v2.png) center 0px no-repeat;}
.oneclick_icon04{background: url(../images/bg_click04_v2.png) center 0px no-repeat; clear: both;}
.oneclick_icon05{background: url(../images/bg_click05_v2.png) center 0px no-repeat;}
.oneclick_icon06{background: url(../images/bg_click06_v2.png) center 0px no-repeat;}
/* 원클릭 아이콘 밑에 글씨 */
.oneclick_icon_ul li a{
	display: block;
	width: 137px;
	height: 100px;
	text-align: center;
	color: #ffffff;
	line-height: 160px;
	font-weight: bold;
	font-size: 14px;
}
/* 원클릭 호버시 글씨 색변화 */
.oneclick_icon_ul li a:hover{color: #1ed6b1;}
/* 원클릭 밑에줄 글씨 위치값 */
.oneclick_icon_ul li .oneclick_lineh{
	padding-top: 5px;
	line-height: 120%;
	display: table-cell;
	vertical-align: bottom;
}
/* 캐릭터 아이 위치값 */
.character{
	position: absolute;
	top:-100px;
	right: 0px;
}
/* 4번박스 공지사항 */
.help_notice{
	width: 830px;
	height: 143px;
	background: rgba(0,0,0,0.3);
	clear: both;
}
/* 공지사항 안에 틀박스 */
.help_notice_box{
	width: 785px;
	height: 113px;
	margin: 15px auto;
}
/* 공지사항 글씨적힌 박스틀 */
.help_notice_box01{
	position: relative;
	width: 120px;
	height: 113px;
}
/* 공지사항 배경 네모 오퍼값 */
.help_notice_box01_bg{
	width: 90px;
	height: 113px;
	background: rgba(0,0,0,0.3);
}
/* 공지사항 글씨 위치및 색상 및 플러스이미지 */
.help_notice_box01 a{
	position: absolute;
	top: 0;
	display: block;
	width: 90px;
	height: 113px;
	background: url(../images/plusicon.png) center 50px no-repeat;
	text-align: center;
	color: #adadad;
	font-weight: bold;
	font-size: 15px;
	line-height: 60px;
}
/* 공지사항 2번박스 */
.help_notice_box02{
	width: 665px;
	height: 113px;
}
/* 공지사항 li 글씨색 및 위치 */
.help_notice_box02 li{
	height: 22.6px;
	line-height: 22.6px;
	font-size: 14px;
	font-family: 'notokr-light';
	color: #dddddd;
}
/* 공지사항 a안에 글씨들 색 */
.help_notice_box02 li a{
	color: #dddddd;
}
/* 공지사항 호버시 언더라인 */
.help_notice_box02 a:hover{
	text-decoration: underline;
}
/* 공지사항 글씨박스 */
.help_notice_box_text{
	width: 500px;
	height: 113px;
}
/* 공지사항 글씨박스 안에 li 스타일 이미지 */
.help_notice_box_text li{
	list-style-image: url(../images/bg_con12.png);
}
/* 공지사항 날짜박스 */
.help_notice_box_date{
	width: 165px;
	height: 113px;
}
/* 공지사항 날짜 글씨 위치조정 */
.help_notice_box_date li{
	text-align: right;
}

/* 5번박스 둘러보기 */
.help_ricon{
	width: 455px;
	height: 143px;
	background: rgba(0,0,0,0.1);
	font-family: 'notokr-light';
}
/* 5번박스 제목 */
.help_ricon_text{
	width: 455px;
	height: 30px;
	line-height: 30px;
	color: #333333;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
/* 5번박스 아이콘박스 */
.help_ricon_icon{
	width: 455px;
	height: 113px;
}
/* 아이콘 박스 안에 a크기 */
.help_ricon_icon a{
	display: block;
	width: 151px;
	height: 113px;
	text-align: center;
}
/* 아이콘 박스 안에 호버시 이미지 크기변화 */
.help_ricon_icon a:hover img{
	transform: scale(1.2,1.2); transition-duration: 0.7s;
}
/* 이미지 들어있는 스판크기 */
.help_ricon_icon>span{
	display: block;
	width: 151px;
	height: 93px;
}
/* 각 이미지 위치 조정 */
.help_ricon_icon .help_icon_image1 img{
	margin-top: 15px;
	margin-left: 40px;
}
.help_ricon_icon .help_icon_image2 img{
	margin-top: 12px;
	margin-left: 40px;
}
.help_ricon_icon .help_icon_image3 img{
	margin-top: 20px;
	margin-left: -40px;
}
/* 각 이미지 아래 글씨 위치값 및 속성 */
.help_ricon_icon .help_icon_name1{
	display: block;
	width: 151px;
	height: 20px;
	margin-top: 15px;
	margin-left: 25px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
.help_ricon_icon .help_icon_name2{
	display: block;
	width: 151px;
	height: 20px;
	margin-top: 14px;
	margin-left: 10px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
.help_ricon_icon .help_icon_name3{
	display: block;
	width: 151px;
	height: 20px;
	margin-top: 16px;
	margin-left: -23px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
/* 오른쪽 픽스드 사이버스테이션 */
.siberstation{
	position: fixed;
	top: 40%;
	left:0;
	width: 45px;
	height: 194px;
	background: #4659ab;
	border-radius: 0 10px 10px 0;
	box-shadow: 2px 0px 10px #222222;
}
/* 사이버 스테이션 휴레프 */
.siberstation>a{
	display: block;
	width: 45px;
	height: 194px;
	position: absolute;
	top:0;
}
.siberstation>a:hover{
	background: rgba(59,87,188,0.8);
	border-radius: 0 10px 10px 0;
}
/* 사이버 스테이션 글자 */
.siberstation>a>span{
	display: block;
	margin: 30px auto;
	width:20px;
	font-size: 15px;
	text-align: center;
	height: 169px;
	color: #ffffff;
	line-height: 17px;
	font-weight: bold;
}
/* 스테이션 및 에로우이미지 */
.station_arr_img{
	position: relative;
	top: -70px;
	left: 12px;
	background: url(../images/icon_con10.png) no-repeat;
	width: 19px;
	height: 19px;
}
/* 에로우이미지 링크 */
.station_arr_img>a{
	display: block;
	width: 19px;
	height: 19px;
}
/* 넥스트페이지 박스 */
.nextpage{
	width: 90px;
	height: 120px;
	position: fixed;
	right: 0;
	top: 47%;
}
/* 넥스트페이지 ul */
.nextpage_ul{
	width: 85px;
	height: 105px;
	margin: 0 auto;
	position: absolute;
}
/* 넥스트페이지 유엘크기 */
.nextpage li{
	width: 85px;
	height: 35px;
}
/* 넥스트페이지 에이태그 크기및 글씨 호버전 동그라미 */
.nextpage a{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/circle_q.png) no-repeat 1px 1px;
	position: relative;
	left: 65px;
	top: 5px;
	color: rgba(0,0,0,0);
	font-size: 0;
}
/* 넥스트페이지 동그라미 1번 호버 */
.nextpage .circle1:hover{
	width: 85px;
	height: 28px;
	background: url(../images/bg_menu_active.png) no-repeat;
	left: 0px;
	top: 3px;
	text-align: center;
	color: #ffffff;
	font-weight: 600;
	line-height: 28px;
	font-size: 1em;
}
/* 넥스트페이지 동그라미 2번 고정 */
.nextpage .circle2:hover{
	width: 85px;
	height: 28px;
	background: url(../images/bg_menu_active.png) no-repeat;
	left: 0px;
	top: 3px;
	text-align: center;
	color: #ffffff;
	font-weight: 600;
	line-height: 28px;
	font-size: 1em;
}
/* 넥스트페이지 동그라미 3번 호버 */
.nextpage .circle3{
	width: 85px;
	height: 28px;
	background: url(../images/bg_menu_active.png) no-repeat;
	left: 0px;
	top: 3px;
	text-align: center;
	color: #ffffff;
	font-weight: 600;
	line-height: 28px;
	font-size: 1em;
}

/* --------------------------------------------------------------------------------------- */

/* 푸터박스 배경 */
#footer{
	position:fixed;
	width: 100%;
	height: 80px;
	background: #5b6268;
	bottom: 0%;
	left:0;
}
/* 푸터박스 중앙정렬 */
#foot{
	position: relative;
	width: 1288px;
	height: 80px;
	margin: 0 auto;
}
/* 푸터글자 사이 선 */
#foot .foott2{
	background: url(../images/line_footer.png) 0px 25px no-repeat;
}
#foot .foott3{
	background: url(../images/line_footer.png) 0px 25px no-repeat;
}
#foot .foott4{
	background: url(../images/line_footer.png) 0px 25px no-repeat;
}
#foot .foott5{
	background: url(../images/line_footer.png) 0px 25px no-repeat;
}
#foot .foott6{
	background: url(../images/line_footer.png) 0px 25px no-repeat;
}
/* 푸터글자 */
.foott a{
	color: #ffffff;
	font-size: 14px;
	padding: 0px 20px;
	font-weight: 600;
}
.foott .nonpad{
	padding: 0 20px 0 0;
}
.foott a:hover{
	text-decoration: underline;
}
/* 두번째글자색 */
#foot .foott2 a{
	color: #3cc19e;
}
/* 푸터글자박스 위치조정 */
.foot_text{
	width: 1288px;
	height: 21px;
	line-height: 60px;
}
/* 카피라이트 위치및 글자 */
.copyright{
	clear:both;
	position: relative;
	top: -12px;
	font-size: 14px;
	letter-spacing: -1px;
	color: #cccccc;
}
/* wa이미지 */
.wa{
	position: absolute;
	left: 83%;
	top: 17px;
}
/* 패밀리박스 크기 및 위치 */
.family_box{
	width: 250px;
	height: 35px;
	position: absolute;
	top: 22.5px;
	left: 98%;
}
/* 패밀리사이트 인풋박스 크기 및 보더 */
.family_box .family_input{
	width: 204px;
	height: 33px;
	border: 1px  solid #91969a;
	border-right: none;
}
/* 패밀리사이트 인풋박스 에이태그 */
.family_box .family_input a{
	display: block;
	width: 189px;
	height: 33px;
	background: url(../images/arr_family01.png) 180px 13px no-repeat;
	color: #ffffff;
	font-size: 14px;
	line-height: 33px;
	padding-left: 15px;
	
}
/* 패밀리사이트 인풋박스 에이태그 호버 */
.family_box .family_input a:hover{
	text-decoration: underline;
	background: url(../images/arr_family01.png) 180px 13px no-repeat rgba(255,255,255,0.1);
}
/* 패밀리사이트 고박스 크기및 배경색 */
.family_box .family_go{
	width: 45px;
	height: 35px;
	background: #1ed6b2;
}
/* 패밀리사이트 고박스 에이태그 */
.family_box .family_go a{
	display: block;
	width: 45px;
	height: 35px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	line-height: 35px;
}
/* 패밀리사이트 고버튼 호버 */
.family_box .family_go a:hover{
	background: rgba(255,255,255,0.3);
}













